block content
  
  form(action="/tasks/add", method="post")
    label(for="title")
      | Tytuł
    br
    input(type="text" id="title" name="title")
    br
    label(for="info")
      | Opis
    br  
    textarea(id="info" cols="30" rows="4")
    br
    input(type="submit", value="Dodaj")
  
  table
    tr
      th(scope= "col") Tytuł
    each task in tasks
      tr
        td= task.title
