extends layout

block content
  form(action="/tasks/add", method="post")
    label(for="title")
      | Tytuł
    br
    input(type="text" id="title" name="title")
    br
    label(for="info")
       | Opis
    br
    input(type="textarea" id="info name="info")
    br
    input(type="submit", value="Dodaj")
